{% extends "../../account/sub_base.html" %}
{% load l10n %}
{% block title %}Edit Delivery{% endblock %}

{% block sub_content %}
<div class=" col-lg-10 mx-auto">
  <h1 class="h3">Create/Edit Delivery</h1>
  <div>Add a new <b>Delivery</b> </div>
  <hr />
  <form name="delivery_form" class="delivery-form" method="post" enctype="multipart/form-data">
    {% if form.errors %}
    {{form.errors}}
    <div class="alert alert-primary" role="alert">
      Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
    {{ form.as_table}}
    </div>

    <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit"
      onclick="submitForm()">
      Add Delivery
    </button>
  </form>

</div>

<script>
  function submitForm() {
    var form = document.getElementsByName('delivery_form')[0];
    form.submit(); // Submit the form
    form.reset(); // Reset all form data
    return false; // Prevent page refresh
  }
</script>
{% endblock %}