{% extends '../sub_base.html' %}
{% block title %} Edit Profile{% endblock title %}
{% block sub_content %}

<div class="col-6 mx-auto">
    <form action="." class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

        <h3 class="mb-2 font-weight-bold">Edit personnal information</h3>

        {% if user_form.is_valid %}
        <div class="alert alert-primary" role="alert">
            <Details>Details successfully updated!</Details>
        </div>
        <p class="small text-center pt-0">
            <a href="{% url "account:dashboard" %}"> Back to your Dashboard</a>
        </p>
        {% else %}
        <p> You can edit your account using the follosing form:</p>
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Errors: Please try again!
        </div>
        {% endif %}

        {% csrf_token %}
        <label class="small font-weight-bold"> {{user_form.email.label}}</label>
        {{ user_form.email }}
        <label class="small font-weight-bold">{{ user_form.name.label}}</label>
        {{ user_form.name }}

        <button class="btn btn-primary btn-block py-2 mb-4 mt 5 fw-bold w-100" type="submit" value="Save changes">Save
            Changes</button>
        <hr class="mb-3">
    </form>
    <form action="{% url 'account:delete_user' %}" class="account-form px-4" method="post">
        {% csrf_token %}
        <p class="h3 pt-4 font-weigh-bold">Delete Accout</p>
        <p>Are you sure you want to delete your account</p>
        <button role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100"
            type="submit">Delete</button>
    </form>
</div>

{% endblock sub_content %}